@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);

#header1-f H1 {
  color: #faaf40;
  text-align: left;
}
#header1-f P {
  text-align: left;
  color: #ffffff;
  font-size: 23px;
}
#header1-f SPAN {
  color: #faaf40;
  text-align: left;
}
#header1-g H1 {
  color: #f97352;
  text-align: left;
}
#header1-g P {
  color: #ffffff;
  font-size: 24px;
  text-align: left;
}
#header1-g B {
  color: #000000;
}
#header1-g SPAN {
  color: #faaf40;
}
#header1-e H1 {
  color: #faaf40;
}
#header1-e P {
  color: #ffffff;
}
#header1-12 H1 {
  font-size: 30px;
  color: #faaf40;
}
#social-buttons2-p .mbr-header__text {
  color: #ffffff;
  font-size: 23px;
}
#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#menu-2 .mbr-navbar__section {
  background: #7c706b;
}
#menu-2 .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-2 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
}

#menu-q .mbr-brand__name {
  font-size: 16px;
}
#menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#menu-q .mbr-navbar__section {
  background: #7c706b;
}
#menu-q .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-q .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
}
#form1-s .mbr-header__text {
  color: #ffffff;
}

#menu-t .mbr-brand__name {
  font-size: 16px;
}
#menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#menu-t .mbr-navbar__section {
  background: #7c706b;
}
#menu-t .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-t .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
}



#menu-16 .mbr-brand__name {
  font-size: 16px;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #7c706b;
}
#menu-16 .mbr-navbar__section {
  background: #7c706b;
}
#menu-16 .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-16 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
}
#msg-box2-1a .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#msg-box2-1a .mbr-article {
  color: #252525;
}
#features1-18 .mbr-section__col .mbr-header__text {
  font-size: 36px;
  font-family: 'Ubuntu', sans-serif;
}
#features1-18 .btn {
  font-size: 20px;
}
