@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#header1-f H1 {
  color: #faaf40;
  text-align: left;
}
#header1-f P {
  text-align: left;
  color: #efefef;
  font-size: 23px;
}
#header1-g H1 {
  color: #faaf40;
  text-align: left;
}
#header1-g P {
  color: #ffffff;
  font-size: 24px;
}
#header1-g B {
  color: #ffffff;
}
#header1-e H1 {
  color: #faaf40;
}
#header1-h H1 {
  font-size: 46px;
  color: #faaf40;
}
#header1-h P {
  font-size: 21px;
  color: #ffffff;
}
#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-2 .mbr-navbar__section {
  background: #000000;
}
#menu-2 .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-2 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
}
#social-buttons2-k .mbr-header__text {
  font-size: 23px;
  color: #ffffff;
}
#contacts3-c B {
  color: #ffffff;
}
#contacts3-c P {
  color: #ffffff;
}
#contacts3-c DIV {
  color: #ffffff;
}

#header1-8 I {
  font-size: 20px;
}
#header1-8 P {
  color: #efefef;
}
#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-2 .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-2 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
}

#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-2 .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-2 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
}
#header1-9 H1 {
  text-align: left;
}
#header1-9 P {
  text-align: left;
}
